.contenedor_titulo{
    padding-top:15px;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    display: grid;
    grid-template-columns: repeat(2, minmax(70px, 1fr));
}

h1{
    color: white;
}

.banner_titulo{
    width: 100%;
    background-color: #3F51B5;
}

.contenedorcalendar{
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    padding-top: 20px;
}

.boton_agregar{
    float: right;
}