<div class="banner_titulo">
  <div class="contenedor_titulo">
    <div class="titulo_pagina">
      <h1>{{curso?.nombre_curso}}</h1>
    </div>
    <div>
      <button class="boton_add" mat-flat-button [routerLink]="[url+'/practica']">Nueva Practica</button>
      <button class="boton_ests" mat-icon-button [routerLink]="[url+'/'+ curso?.codigo_matricula +'/estudiante']"><abbr title="Estudiantes Matriculados"><mat-icon>people</mat-icon></abbr></button>
    </div>
  </div>
</div>

<div class="listcursos">
  <div style="width: 10%;"></div>
  <div id="listitle" style="width: 40%;">Practicas en curso</div>
  <div style="width: 10%;"></div>
</div>

<div class="contenedor_practicas">

  <mat-accordion *ngFor="let practica of practica">
    <mat-expansion-panel style="margin-top: 10px;" *ngIf="practica.estado == '1'">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon matSuffix>assignment</mat-icon>{{practica.titulo}}
        </mat-panel-title>
        <mat-panel-description>
          Entrega: {{practica.fecha_entrega}}
        </mat-panel-description>

        <button class="boton_mas" mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon>
          <mat-menu #menu="matMenu">
            <button mat-menu-item [routerLink]="[url+'/'+practica.id_practica+'/practica']">
                <mat-icon>mode_edit</mat-icon>
                <span>Editar</span>
              </button>
            <button mat-menu-item (click)="updatePractica(practica)">
              <mat-icon>done</mat-icon>
              <span>Marcar Como Completada</span>
            </button>
            <button mat-menu-item (click)="delete(practica)">
              <mat-icon>delete</mat-icon>
              <span>Borrar</span>
            </button>
          </mat-menu>
        </button>

      </mat-expansion-panel-header>

      <mat-divider></mat-divider>
      

      <mat-panel-description>
        <div class="desc_practica">
          <div class="desc">
            {{practica.descripcion}}
          </div>
          <div class="doc_adj">
             <h3><mat-icon style="vertical-align: text-bottom;">attachment</mat-icon>Archivos adjuntos</h3>
            <ul *ngFor="let archivo of practica.archivos; let i = index" [attr.data-index]="i">
              <a href="{{archivo}}"><mat-icon style="vertical-align: text-bottom;">file_present</mat-icon>Archivo #{{i+1}}</a>
            </ul>
          </div>

          <div class="metricas">
            <h3>Asignados:</h3>
            <h3>Entregados:</h3>
          </div>
        </div>
      </mat-panel-description>


      

    </mat-expansion-panel>

  </mat-accordion>

</div>

<div class="listcursos">
  <div style="width: 10%;"></div>
  <div id="listitle" style="width: 40%;">Practicas finalizadas</div>
  <div style="width: 10%;"></div>
</div>

<div class="contenedor_practicas">

  <mat-accordion *ngFor="let practica of practica">
    <mat-expansion-panel style="margin-top: 10px;" *ngIf="practica.estado == '0'">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon matSuffix>assignment</mat-icon>{{practica.titulo}}
        </mat-panel-title>
        <mat-panel-description>
          Entrega: {{practica.fecha_entrega}}
        </mat-panel-description>

        <button class="boton_mas" mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="delete(practica)">
              <mat-icon>delete</mat-icon>
              <span>Borrar</span>
            </button>
          </mat-menu>
        </button>
      </mat-expansion-panel-header>
      <mat-divider></mat-divider>

      <mat-panel-description>
        <div class="desc_practica">
          <div class="desc">
            {{practica.descripcion}}
          </div>
          <div>
            <h3><mat-icon style="vertical-align: text-bottom;">attachment</mat-icon>Archivos adjuntos</h3>
            <ul *ngFor="let archivo of practica.archivos; let i = index" [attr.data-index]="i">
              <a href="{{archivo}}"><mat-icon style="vertical-align: text-bottom;">file_present</mat-icon>Archivo #{{i+1}}</a>
            </ul>
          </div>

          <div>
            <h3>Asignados:</h3>
            <h3>Entregados:</h3>
          </div>
        </div>
      </mat-panel-description>
  

    </mat-expansion-panel>
  </mat-accordion>

</div>