<div class="banner_titulo">
  <div class="contenedor_titulo">
    <div class="titulo_pagina">
      <h1>Estudiantes matriculados</h1>
    </div>
    <div>
      <button class="boton_add" mat-flat-button>Nueva Practica</button>
      <button [routerLink]="urlBack" class="boton_ests" mat-icon-button><abbr test="Volver a Practicas"><mat-icon>assignment</mat-icon></abbr></button>
    </div>
  </div>
</div>

<div class="container" >
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Nombre Completo</th>
        <th scope="col">Correo</th>
      </tr>
    </thead>
    <tbody *ngFor="let estudiante of estudiantes">
      <tr *ngIf="estudiante.rol == 'Estudiante'">
        <td>{{estudiante.nombre_completo}}</td>
        <td>{{estudiante.correo}}</td>
      </tr>
    </tbody>
  </table>
</div>