<nav class="navbar" *ngIf="cargarNavBar()">
    <div [routerLink]="urlInicio" class="nav_logo">

    </div>
    <div>
        <button class="boton_menu" mat-icon-button [routerLink]="urlAgenda">
            <mat-icon>calendar_month</mat-icon>
        </button>

        <button class="boton_menu" mat-icon-button matBadge="{{numNotificaciones}}" matBadgeSize="small"
            matBadgeColor="warn" [matBadgeHidden]="numNotificaciones == 0" [matMenuTriggerFor]="matProblemas">
            <mat-icon>error_outline</mat-icon>
            <mat-menu #matProblemas="">
                <li>
                    <h2>Errores</h2>
                </li>
                <div >
                    <table style="margin: 2%;">
                        <tr>
                            <th>Descripcion</th>
                            <th></th>
                        </tr>
                        <tr *ngFor="let problema of problemas">
                            <td>{{problema.descripcion}}</td>
                            <td style="float: right;" (click)="deleteProble(problema)"><abbr title="Error Solucionado">
                                    <mat-icon>done</mat-icon>
                                </abbr></td>
                        </tr>
                    </table>
                </div>
            </mat-menu>
        </button>
    </div>

    <span>
        <ul mat-flat-button [matMenuTriggerFor]="menu" class="navbar-nav">
            <div>
                <img src="{{photo$}}">
                <mat-menu #menu="matMenu">
                    <li>{{user$}}</li>
                    <li>{{userName$}}</li>
                    <li>
                        <a (click)="signOut()">
                            <button [routerLink]="['/login']" class=" btn btn-block mybtn btn-primary tx-tfm">Cerrar
                                Sesion</button>
                        </a>
                    </li>
                    <li *ngIf="rol$.includes('Admin')">
                        <a>
                            <button [routerLink]="[urlUsuario]" class=" btn btn-block mybtn btn-info tx-tfm">Ingresar
                                Docente</button>
                        </a>
                    </li>
                </mat-menu>
            </div>
        </ul>
    </span>
</nav>