<div class="container">
  <div class="row text-center">
    <div class="col">
      <h1>{{curso?.nombre_curso}}</h1>
    </div>
    <div class="col">
      <h1>{{curso?.cod_matricula}}</h1>
    </div>
  </div>
  <div class="row text-center">
    <h2>Lista de las Practicas</h2>
  </div>
  <div class="card-group" *ngFor="let practica of practica">
    <div class="card text-white bg-info mb-3" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title text-black">{{practica.titulo}}</h5>
        <p class="card-text">Descripcion: {{practica.descripcion}}</p>
        <p class="card-text">Codigo de la Planta: {{practica.cod_planta}}</p>
      </div>
    </div>
  </div>

  <button type="button" class="btn btn-primary mb-3" [routerLink]="[url+'/practica']">Crear Nueva
    Practica
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle-fill"
      viewBox="0 0 16 16">
      <path
        d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z" />
    </svg>
  </button>
</div>